# Gitignore settings for ESPHome

# Core & Build
/.esphome/
**/.pioenvs/
**/.piolibdeps/
**/lib/
**/src/
**/platformio.ini
compile.bat

# Python
**/__pycache__/
*.pyc

# IDE
.vscode/

# Configuration & Secrets
secrets.yaml
config_*.yaml
test.yaml
config.yaml

# Documentation & Logs
wiki_boards.md
wiki_setup.md
AI_code_review.txt
/fuzz_logs
fuzz_test_*.yaml

# CI
.github/workflows/ci.yml
.clang-format

# Scripts
analyze_heap.py

# Specific large files / models
dig-class100-0180-s2-q.tflite
