# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
**/.pioenvs/
**/.piolibdeps/
**/lib/
**/src/
**/platformio.ini
/secrets.yaml
compile.bat
secrets.yaml
/components/meter_reader_tflite/__pycache__
secrets.yaml
.vscode/settings.json
/components/esp32_camera_utils/__pycache__
/components/flash_light_controller/__pycache__
/components/tflite_micro_helper/__pycache__

.github/workflows/ci.yml
.clang-format
test.yaml
/fuzz_logs
fuzz_test_*.yaml
wiki_boards.md
/components/ssocr_reader/__pycache__
